{% extends "base.html" %}
{% load i18n %}
{% load wger_extras %}

<!--
        Title
-->
{% block title %}{% trans "Exercises" %} {% endblock %}



{% block header %}
<script>
$(document).ready(function() {

    // Init the autocompleter
    $('#exercise-search').autocomplete({
        serviceUrl: '{% url 'exercise-search' %}',
        showNoSuggestionNotice: true,
        dataType: 'json',
        paramName: 'term',
        groupBy: 'category',
        minChars: 3,
        onSelect: function (suggestion) {
            window.location.href = '/exercise/' + suggestion.data.id + '/view/'
        }
    });
});
</script>
{% endblock %}


<!--
        Main Content
-->
{% block content %}
{% if filter_by == None %}
    {% load cache %}
    {% cache cache_timeout exercise-overview language.id %}
    {% include 'exercise/display_exercises.html' %}
    {% endcache %}
{% else %}
    {% include 'exercise/display_exercises.html' %}
{% endif %}
{% endblock %}

<!--
        Side bar
-->
{% block sidebar %}
<h4>{% trans "Search" %}</h4>
    <input name="term"
           type="search"
           id="exercise-search"
           class="ajax-form-element form-control"
           placeholder="{% trans 'exercise name' %}">
        </br>
        <h4>{% trans "Search by Language" %}</h4>
        <select id="dynamic-select" class="selectpicker">
                {% for short_name, long_name in languages  %}
                {{ short_name }}
                {% if filter_by == short_name %}
                <option value="{% url 'exercise:exercise:overview' %}?filter_by={{ short_name }}" selected>{{ long_name }}</option>
                {% else %}
                <option value="{% url 'exercise:exercise:overview' %}?filter_by={{ short_name }}">{{ long_name }}</option>
                {% endif %}
                {% endfor %}
          </select>
{% endblock %}

{% block options %}
    {% if user.is_authenticated and not user.userprofile.is_temporary %}
        <a href="{% url 'exercise:exercise:add' %}" class="btn btn-success btn-sm">
            {% trans "Add new exercise" %}
        </a>
    {% else %}
        <a href="#" class="btn btn-success btn-sm disabled">
            {% trans "Add new exercise" %}<br>
            <small>
            {% trans "Only registered users can do this" %}
            </small>
        </a>
    {% endif %}
{% endblock %}
